<%= render "shared/header" %>

<%= form_with model: @message do |f| %>
  <%= f.text_field :text %>
  <%= f.submit 'コメントする' %>
<% end %>
<div id='messages'>
  <% @messages.reverse_each do |message| %>
    <p><%= message.text %></p>
  <% end %>
</div>

<%= render "shared/footer" %>